.transition-main {
  transition: 1s;
}

h1 {
  opacity: 1;
  transition: 0.25s;
}

html.is-animating h1 {
  opacity: 0;
}

html.is-changing a {
  pointer-events: none;
}

.card {
  opacity: 1;
  transition: 0.25s;
}

.container .card:nth-child(1n) {
  transition-delay: 0.05s;
}

.container .card:nth-child(2n) {
  transition-delay: 0.1s;
}

.container .card:nth-child(3n) {
  transition-delay: 0.15s;
}

.container .card:nth-child(4n) {
  transition-delay: 0.2s;
}

.container .card:nth-child(5n) {
  transition-delay: 0.25s;
}

.container .card:nth-child(6n) {
  transition-delay: 0.3s;
}

.container .card:nth-child(7n) {
  transition-delay: 0.35s;
}

.container .card:nth-child(8n) {
  transition-delay: 0.4s;
}

.container .card:nth-child(9n) {
  transition-delay: 0.45s;
}

.container .card:nth-child(10n) {
  transition-delay: 0.5s;
}

html.is-animating .card {
  transform: translate(0, -10px) scale(105%);
  opacity: 0;
}

html.is-leaving .card {
  transform: translate(0, 0) scale(100%);
  opacity: 0;
}

html.is-leaving.to-index .bg {
  animation: 0.5s forwards 0.5s border-blink step-start;
}
html.is-leaving.to-index .bg.topleft {
  bottom: 20%;
  right: 15%;
  transition: bottom 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-index .bg.topright {
  bottom: 20%;
  left: 85%;
  transition: bottom 0.4s ease 0.1s, left 0.4s ease 0.1s;
}
html.is-leaving.to-index .bg.bottomleft {
  top: 80%;
  right: 15%;
  transition: top 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-index .bg.bottomright {
  top: 80%;
  left: 85%;
  transition: top 0.4s ease 0.1s, left 0.4s ease 0.1s;
}

html.is-leaving.to-about .bg {
  animation: 0.5s forwards 0.5s border-blink step-start;
}
html.is-leaving.to-about .bg.topleft {
  bottom: 80%;
  right: 15%;
  transition: bottom 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-about .bg.topright {
  bottom: 80%;
  left: 85%;
  transition: bottom 0.4s ease 0.1s, left 0.4s ease 0.1s;
}
html.is-leaving.to-about .bg.bottomleft {
  top: 20%;
  right: 15%;
  transition: top 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-about .bg.bottomright {
  top: 20%;
  left: 85%;
  transition: top 0.4s ease 0.1s, left 0.4s ease 0.1s;
}

html.is-leaving.to-test .bg {
  animation: 0.5s forwards 0.5s border-blink step-start;
}
html.is-leaving.to-test .bg.topleft {
  bottom: 80%;
  right: 85%;
  transition: bottom 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-test .bg.topright {
  bottom: 80%;
  left: 15%;
  transition: bottom 0.4s ease 0.1s, left 0.4s ease 0.1s;
}
html.is-leaving.to-test .bg.bottomleft {
  top: 20%;
  right: 85%;
  transition: top 0.4s ease 0.1s, right 0.4s ease 0.1s;
}
html.is-leaving.to-test .bg.bottomright {
  top: 20%;
  left: 15%;
  transition: top 0.4s ease 0.1s, left 0.4s ease 0.1s;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  background-color: #303030;
  color: #ffffff;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 200px;
  max-width: 300px;
  font-size: 20px;
  padding: 20px;
  z-index: 1;
}
nav a {
  margin: 10px;
  color: rgb(184, 184, 184);
  text-decoration: none;
  transition: color 0.25s;
}
nav a.current-link {
  color: #ffffff;
}

main {
  height: 100%;
  margin: 0;
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

.container {
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.bg {
  height: 100svh;
  width: 100svw;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  opacity: 10%;
  background-attachment: fixed;
  z-index: -10;
  border: solid rgb(255, 255, 255);
  transition: bottom 0.25s ease;
}

.bg.topleft {
  background-image: url("https://i.redd.it/18kn0u61tmfa1.png");
  border-width: 0px 2px 2px 0px;
}
.bg.topleft.index {
  bottom: 20%;
  right: 15%;
}
.bg.topleft.about {
  bottom: 80%;
  right: 15%;
}
.bg.topleft.test {
  bottom: 80%;
  right: 85%;
}

.bg.topright {
  background-image: url("https://i.redd.it/vzmwjf4rl5s51.jpg");
  border-width: 0px 0px 2px 2px;
}
.bg.topright.index {
  bottom: 20%;
  left: 85%;
}
.bg.topright.about {
  bottom: 80%;
  left: 85%;
}
.bg.topright.test {
  bottom: 80%;
  left: 15%;
}

.bg.bottomleft {
  background-image: url("https://i.redd.it/qqn79szv7z961.jpg");
  border-width: 2px 2px 0px 0px;
}
.bg.bottomleft.index {
  top: 80%;
  right: 15%;
}
.bg.bottomleft.about {
  top: 20%;
  right: 15%;
}
.bg.bottomleft.test {
  top: 20%;
  right: 85%;
}

.bg.bottomright {
  background-image: url("https://i.redd.it/aer4hb9drh331.png");
  border-width: 2px 0px 0px 2px;
}
.bg.bottomright.index {
  top: 80%;
  left: 85%;
}
.bg.bottomright.about {
  top: 20%;
  left: 85%;
}
.bg.bottomright.test {
  top: 20%;
  left: 15%;
}

.card {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: #004adf;
  background: linear-gradient(0deg, #004adf 0%, rgb(68, 68, 68) 100%);
}
.card img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 525px;
  height: 525px;
  opacity: 90%;
  transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s;
}
.card:hover img {
  transform: translate(-25px, 0);
  opacity: 60%;
  transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s;
}
.card::before, .card::after, .card span::before, .card span::after {
  display: inline-block;
  position: absolute;
  content: "";
  border: 2px solid white;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.25s;
}
.card::before {
  top: 5%;
  bottom: 60%;
  left: 5%;
  right: 60%;
  border-width: 2px 0px 0px 2px;
  transform-origin: top left;
}
.card::after {
  top: 60%;
  bottom: 5%;
  left: 5%;
  right: 60%;
  border-width: 0px 0px 2px 2px;
  transform-origin: bottom left;
}
.card span::before {
  top: 5%;
  bottom: 60%;
  left: 60%;
  right: 5%;
  border-width: 2px 2px 0px 0px;
  transform-origin: top right;
}
.card span::after {
  top: 60%;
  bottom: 5%;
  left: 60%;
  right: 5%;
  border-width: 0px 2px 2px 0px;
  transform-origin: bottom right;
}
.card:hover::before, .card:hover::after, .card:hover span::before, .card:hover span::after {
  transform: scale(1);
  animation: 0.5s forwards 0.35s border-blink step-start;
}
.card .card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 10%;
  box-sizing: border-box;
  z-index: 2;
}
.card .card-text h2 {
  padding-top: 90%;
  margin: 0;
  transition: transform 0.25s;
}
.card .card-text p {
  margin: 0;
  opacity: 0%;
  transition: opacity 0.25s, transform 0.25s;
}
.card:hover .card-text h2 {
  transform: translate(0, -30px);
}
.card:hover .card-text p {
  opacity: 100%;
  transform: translate(0, -20px);
}
.card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@keyframes border-blink {
  from {
    border-color: white;
  }
  25% {
    border-color: transparent;
  }
  30% {
    border-color: white;
  }
  55% {
    border-color: transparent;
  }
  60% {
    border-color: white;
  }
}