///
/// Colors
/// 
$bg-color: #303030;
$primary-font-color: #ffffff;
$secondary-font-color: #c9c9c9;
$primary-color: #004adf;

///
/// Background sizing
/// 
$bg-w-default: calc(15% - (100% - 100vw));
$bg-h-default: 20%;
$bg-w-opposite: calc(100% - $bg-w-default);
$bg-h-opposite: 100% - $bg-h-default;