.transition-fade {
    opacity: 1;
    transition: .25s
}

html.is-animating .transition-fade {
    opacity: 0;
}


.transition-card {
    opacity: 1;
    transition: .25s;
}

html.is-animating .transition-card {
    transform: translate(0, -10px) scale(105%);
    opacity: 0;
}

html.is-leaving .transition-card {
    transform: translate(0, 0) scale(100%);
    opacity: 0;
}

///
/// Background Animations
/// 

html.to-index {
    .bg.topleft {
        bottom: $bg-h-default;
        right: $bg-w-default;
        transition: bottom .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.topright {
        bottom: $bg-h-default;
        left: $bg-w-opposite;
        transition: bottom .25s ease-in-out, left .25s ease-in-out;
    }
    .bg.bottomleft {
        top: $bg-h-opposite; 
        right: $bg-w-default;
        transition: top .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.bottomright {
        top: $bg-h-opposite;
        left: $bg-w-opposite;
        transition: top .25s ease-in-out, left .25s ease-in-out;
    }
}
html.to-about {
    .bg.topleft {
        bottom: $bg-h-opposite;
        right: $bg-w-default;
        transition: bottom .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.topright {
        bottom: $bg-h-opposite;
        left: $bg-w-opposite;
        transition: bottom .25s ease-in-out, left .25s ease-in-out;
    }
    .bg.bottomleft {
        top: $bg-h-default;
        right: $bg-w-default;
        transition: top .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.bottomright {
        top: $bg-h-default;
        left: $bg-w-opposite;
        transition: top .25s ease-in-out, left .25s ease-in-out;
    }
}
html.to-test {
    .bg.topleft {
        bottom: $bg-h-opposite;
        right: $bg-w-opposite;
        transition: bottom .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.topright {
        bottom: $bg-h-opposite;
        left: $bg-w-default;
        transition: bottom .25s ease-in-out, left .25s ease-in-out;
    }
    .bg.bottomleft {
        top: $bg-h-default;
        right: $bg-w-opposite;
        transition: top .25s ease-in-out, right .25s ease-in-out;
    }
    .bg.bottomright {
        top: $bg-h-default;
        left: $bg-w-default;
        transition: top .25s ease-in-out, left .25s ease-in-out;
    }
}