@import 'config';
@import 'pagetransitions';

body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: $bg-color;
    color: $primary-font-color;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 200px;
    max-width: 300px;
    font-size: 20px;
    padding: 20px;
    z-index: 1;

    a {
        margin: 10px;
        color: rgb(184, 184, 184);
        text-decoration: none;
        transition: color .25s;
    }

    
    a.current-link {
        color: #ffffff
    }
}

main {
    height: 100%;
    margin: 0;
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

///
/// Background images, used for transitions to different pages
///

.bg {
    height: 100svh;
    width: 100svw;
    position: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 10%;
    background-attachment: fixed;
    z-index: -10;
    border: solid rgb(255, 255, 255);
    transition: bottom .25s ease;
}

.bg.topleft {
    background-image: url('https://i.redd.it/18kn0u61tmfa1.png');
    border-width: 0px 2px 2px 0px;
    &.index { bottom:   $bg-h-default;  right: $bg-w-default; }
    &.about { bottom:   $bg-h-opposite; right: $bg-w-default; }
    &.test { bottom:    $bg-h-opposite; right: $bg-w-opposite; }
}
.bg.topright {
    background-image: url('https://i.redd.it/vzmwjf4rl5s51.jpg');
    border-width: 0px 0px 2px 2px;
    &.index {   bottom: $bg-h-default;  left: $bg-w-opposite; }
    &.about {   bottom: $bg-h-opposite; left: $bg-w-opposite; }
    &.test {    bottom: $bg-h-opposite; left: $bg-w-default; }
}
.bg.bottomleft {
    background-image: url('https://i.redd.it/qqn79szv7z961.jpg');
    border-width: 2px 2px 0px 0px;
    &.index {   top: $bg-h-opposite;   right: $bg-w-default; }
    &.about {   top: $bg-h-default;    right: $bg-w-default; }
    &.test {    top: $bg-h-default;    right: $bg-w-opposite; }
}
.bg.bottomright {
    background-image: url('https://i.redd.it/aer4hb9drh331.png');
    border-width: 2px 0px 0px 2px;
    &.index {   top: $bg-h-opposite;   left: $bg-w-opposite; }
    &.about {   top: $bg-h-default;    left: $bg-w-opposite; }
    &.test {    top: $bg-h-default;    left: $bg-w-default; }
}  


///
/// Images in cards on front page
///

.card {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;  
    background: $primary-color;
    background: linear-gradient(0deg, $primary-color 0%, rgb(68, 68, 68) 100%);

    img {
        position: relative;
        object-fit: cover;
        width: 525px;
        height: 525px;
        opacity: 90%;
        transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s;
    }

    &:hover img {
        transform: translate(-25px, 0);
        opacity: 60%;
        transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s;
    }

    // On hover animation
    &::before, &::after, span::before, span::after {
        display: inline-block;
        position: absolute;
        content: '';
        border: 2px solid white;
        z-index: 1;
        transform: scale(0);
        transition: transform 0.25s;
    }

    &::before {
        top: 5%;
        bottom: 60%;
        left: 5%;
        right: 60%;
        border-width: 2px 0px 0px 2px;
        transform-origin: top left;
    }
    &::after {
        top: 60%;
        bottom: 5%;
        left: 5%;
        right: 60%;
        border-width: 0px 0px 2px 2px;
        transform-origin: bottom left;
    }
    span::before {
        top: 5%;
        bottom: 60%;
        left: 60%;
        right: 5%;
        border-width: 2px 2px 0px 0px;
        transform-origin: top right;
    }
    span::after {
        top: 60%;
        bottom: 5%;
        left: 60%;
        right: 5%;
        border-width: 0px 2px 2px 0px;
        transform-origin: bottom right;
    }

    &:hover::before, &:hover::after, &:hover span::before, &:hover span::after {
        transform: scale(1);
        animation: .5s forwards 0.35s border-blink step-start;
    }

    .card-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 20px;
        padding: 10%;
        box-sizing: border-box;
        z-index: 2;

        h2 {
            padding-top: 90%;
            margin: 0;
            transition: transform 0.25s;
        }

        p {
            margin: 0;
            opacity: 0%;
            transition: opacity 0.25s, transform 0.25s;
        }
    }
   
    &:hover .card-text h2 {
        transform: translate(0, -30px);
    }

    &:hover .card-text p {
        opacity: 100%;
        transform: translate(0, -20px);
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}

@keyframes border-blink {
    from {
        border-color: white;
    }
    25% {
        border-color: transparent;
    }
    30% {
        border-color: white;
    }
    55% {
        border-color: transparent;
    }
    60% {
        border-color: white;
    }
}